#select-button {
    width: 20% !important;
}
#select-box {
    width: 80% !important;
}
/* @group Base */
.chosen-container {
    width: 80% !important;
}
#select-button {
    float: right !important;
    margin: 10px 0px 0px 10px !important;
}

button#wamp_add_items_button {
    margin: 10px 0px;
    display: inline-block;
}
  table.jshproductsnap {   
		   width:100%;            
		   border:medium none;    
		   color:#000000;       
		   }                     
		   table.jshproductsnap tbody tr td {   
		   border-bottom:thin solid green; 
			  font-size: 13px;
		   }                                    
		   table.jshproductsnap tbody tr th {   
		   background-color:#E4F1FB;            
		   border-bottom:3px solid green;     
		   border-top:3px solid green; 
			    font-size: 13px;
		   }                                  
		   .addtocart_button {               
		   -moz-background-clip:border;      
		   -moz-background-inline-policy:continuous;     
		   -moz-background-origin:padding;            
		   background:transparent url(../images/addtocart.jpg) no-repeat scroll 0 0;    
		   height:25px;                            
		   width:160px;                             
		   }       
		   .quantity-box .quantity-input, .cart-summary .quantity-input { 
		   height: 34px;   
		   width: 20px;    
		   text-align: center; 
		   font-weight: 700; 
		   padding: 1px;  
		   margin-bottom: 0;   
		   }     
		   span.quantity-controls { 
		   width: 15px;  
		   display: inline-block; 
		   vertical-align: middle; 
		   margin: 0 0 0 1px;
		   }       
		   table.jshproductsnap tbody tr td.image {
			   width: 150px;        }  
			   td.price {      
			   text-align: center;  
			   }   
			   div.jshop_prod_attributes select {
				   width: 85px;   
				}
				.desc {
					width: 30%;
				}
				.quantity-plus {
				background:dodgerblue !important;
				text-align: left !important;
			padding: 4px !important;
			}
			
			.quantity-minus {
				background: dodgerblue !important;
				text-align: left !important;
			padding: 4px !important;
			}

			.quantity-plus:hover {
				background: lightblue !important;
			}
			.quantity-minus:hover {
				background: lightblue !important;
			}
#errorstyle{

background:red;
}
.jshproductsnap select {
    font-size: 13px;
}